.container {
	@apply h-full w-[20%] -left-[20%] text-center overflow-hidden;
	color: var(--textColor);

	min-width: 200px;

	box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.495);

	font-size: large;
	font-weight: 600;

	background-color: var(--neutralColor2);

	header {
		@apply pt-10 pb-0;
	}
}

.addCategory {
	@apply flex justify-between w-full cursor-pointer items-center px-4 text-xl;

	color: var(--invTextColor);
	font-weight: 900;

	p {
		&::before {
			transition: all 0.3s ease-in-out;
			content: 'Categories';
		}
	}

	span {
		transition: all 0.3s ease-in-out;
	}

	&:hover span {
		@apply scale-125;
	}
	&:hover p::before {
		content: 'New Category';
	}
}

.resizeContainer {
	content: '';
	cursor: e-resize;
	@apply w-[5px] h-full bg-transparent absolute -right-0 top-0;
	&:hover {
		background: var(--semiTransparent2);
	}
}

.categoriesContainer {
	@apply mt-5 pb-[300px] flex flex-col items-start pl-4 h-[100%] w-full space-y-4;
	min-width: 200px;

	overflow-y: scroll;
	overflow-x: hidden;

	li button {
		@apply flex items-center w-full;

		&:hover p {
			opacity: 100%;
			word-break: break-all;
			white-space: unset;
			text-overflow: unset;
		}
	}

	li i {
		@apply text-xl text-gray-300;
	}

	li button p {
		transition: all 0.2s ease-in-out;
		color: var(--invTextColor);
		opacity: 70%;
		font-weight: 700;
		font-size: 20px;
		min-width: fit-content;
		margin-left: 5px;

		display: inline-block;
		text-wrap: wrap;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
		cursor: pointer;
	}

	li button .opened {
		@apply animate-bounce text-lg mt-2;
		opacity: 150%;
	}
}

.category {
	@apply relative w-[80%] flex flex-col text-sm;

	.openedCategory {
		@apply ml-2 -left-[200vw] top-10 w-full opacity-0 h-full mt-1.5;

		li {
			@apply w-full bg-[var(--neutralColor)] text-[var(--textColor)] rounded-full py-2 px-4 cursor-pointer;

			display: inline-block;
			text-wrap: wrap;
			white-space: nowrap;
			overflow: hidden !important;
			text-overflow: ellipsis;

			justify-items: start;
			justify-content: start;
			transition: all 0.05s linear;
			text-align: left;

			&:hover {
				@apply bg-[var(--activeColor)] border-2 border-white scale-110;
			}
		}
	}
}

.search {
	color: var(--invTextColor);
	@apply flex items-center mt-6 px-5 w-full space-x-3;

	i {
		@apply w-[20px] h-[20px];

		transition: all 0.3s ease-in-out;
		opacity: 50%;
	}

	&:hover i {
		@apply scale-110 opacity-100;
	}

	input {
		@apply w-full focus:outline-none flex text-left;
		background: transparent;

		&::placeholder {
			color: var(--invTextColor);
			opacity: 50%;
		}

		&::before {
			content: '';
		}
	}
}
