.container {
	@apply mb-[5.3rem] w-[80%] h-[80%] flex overflow-hidden;
	transition: all 0.5s ease-in-out;

	.board {
		@apply w-full h-full rounded-3xl ml-20;
		overflow-y: scroll;
		background: var(--semiTransparent);

		header {
			@apply flex justify-between items-center px-6;

			button i {
				cursor: pointer;
				font-size: xx-large;
			}

			h1 {
				padding-left: 1rem;
			}
		}
	}
}

.sidebar {
	@apply h-[300px] w-[80px] absolute left-0 top-[0];
	box-shadow: 0px 0px 10px 5px hsla(0, 0%, 0%, 0.525);
	background: var(--semiTransparent);

	ul {
		@apply flex flex-col overflow-hidden items-center py-8 h-screen bg-[#00000086];
		font-size: 30px;
		font-weight: 900;
		color: var(--invTextColor);

		li {
			@apply w-full h-[50px] py-8 flex justify-center items-center;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			opacity: 60%;

			button {
				@apply w-full h-full flex items-center justify-center cursor-pointer;
			}

			&:hover {
				color: var(--activeColor);
			}
		}
	}
}

.refreshActive {
	@apply animate-spin text-[var(--activeColor)];
}

.active {
	@apply bg-[var(--activeColor)];
}
